.nav {
  background-color: green;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid greenyellow;
}

.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul svg {
  font-size: 25px;
  font-weight: 600;
}

.nav a {
  color: #fff;
}
