.showcase {
  width: 97%;
  margin: auto;
  text-align: center;
}

.showcase > p {
  font-size: 20px;
}
.showcase h2 {
  margin: 30px 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0 20px;
  margin: 30px 0;
}
.header img {
  width: 40px;
  height: auto;
}

.header h1 {
  font-size: 26px;
}

.countryStat {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.countryStat ul {
  display: flex;
  flex-direction: column;
}

.countryStat ul li {
  text-align: left;
  width: 100%;
  padding: 20px;
  background-color: green;
  color: #fff;
  font-size: 20px;
  padding: 15px;
}

.countryStat ul li:nth-child(even) {
  background-color: #fff;
  color: green;
}