.blue {
  background-color:   #0492c2
}

.yellow {
  background-color: #ffc82d
}

.green {
  background-color: #138750
}

.red {
  background-color: #ff0000
}

.showcase {
  width: 97%;
  margin: auto;
  text-align: center;
}

.load {
  letter-spacing: 9px;
  color: rgb(0, 59, 0);
}

.showcase > p {
  font-size: 20px;
}

.showcase h2 {
  margin: 30px 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  margin: 30px 0;
}

.header img {
  width: 40px;
  height: auto;
}

.header h1 {
  font-size: 26px;
}

.countryStat {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.countryStat div {
  width: 48.5%;
  height: 100px;
  margin: 6px 0;
  border-radius: 9px;
  color: #fff;
  padding: 15px;
}

.countryStat div p {
  font-weight: 600;
  font-size: 15px;
}

.showcase div > h4 {
  display: flex;
  justify-content: space-between;
}

svg {
  font-size: 30px;
}

.showcase div > h4 span {
  font-size: 24px;
}
@media (min-width: 768px) {
  .showcase {
    width: 60%;
  }

  .header img {
    width: 60px;
    height: auto;
  }

  .header h1 {
    font-size: 40px;
  }

  .countryStat {
    justify-content: space-around;
  }
  
  .countryStat div {
    width: 40%;
    margin: 12px 0;
    border-radius: 9px;
    padding: 20px;
  }

  .countryStat div p {
    font-weight: 600;
    font-size: 18px;
  }
  
  svg {
    font-size: 35px;
  }
  
  .showcase div > h4 span {
    font-size: 30px;
  }
}
