.sectionTwo {
  margin: 30px 0;
  text-align: center;
}

.homepageList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  margin: 20px auto;
}

.homepageList li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: green;
  color: #f4f4f4;
  padding: 20px;
  opacity: 0.9;
}

.homepageList li:hover {
  opacity: 1;
}

.homepageList li svg {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.homepageList li:nth-child(even) svg {
  color: rgb(2, 80, 2);
}

.homepageList li:nth-child(even) {
  background-color: #fff;
  color: rgb(2, 80, 2);
}

.homepageList li p {
  font-weight: 700;
  font-size: 22px;
}

@media (min-width: 768px) {
  .sectionTwo {
    width: 30%;
    height: 100vh;
    overflow: auto;
    margin: 0;
  }

  .sectionTwo h2 {
    margin: 30px 0;
  }
}
